<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>Qoodle - Admin</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> 
<script src="//cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script src="/common.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<script>
var uuid = generateUUID();

$(function(){
  /*
  $.extend( $.fn.dataTable.defaults, {
    language: {
      url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json'
    }
  });
  $('#image_table').DataTable({
    columnDefs: [{ 
      targets: [ 0, 3 ], 
      orderable: false,
      searchable: false
    }],
    order: [ [ 2, 'desc' ] ]
  });
  */
  reloadQuizs();
  reloadQuizsets();
});

function reloadQuizs(){
  $('#quiz_table_body').html( '' );
  $.ajax({
    type: 'GET',
    url: '/dbapi/quizs?user_id=' + uuid,
    success: function( result ){
      if( result && result.status ){
        var categories = [ '一般クイズ', 'フリーテキスト', '16分割', 'ぼかし' ];
        result.quizs.forEach( function( quiz ){
          var tr = '<tr>'
            + '<td>' + quiz._id + '</td>'
            + '<td>' + categories[quiz.category] + '</td>'
            + '<td>' + quiz.point + '</td>'
            + '<td>' + quiz.body + '</td>'
            + '<td>' + quiz.comment + '</td>'
            + '<td>' + quiz.img_url + '</td>'
            + '<td>' + timestamp2datetime( quiz.updated ) + '</td>'
            + '<td><button class="btn btn-xs btn-info" onClick=\'previewQuiz(' + JSON.stringify( quiz ) + ');\'>PREVIEW</button>'
            + '<button class="btn btn-xs btn-success" onClick=\'editQuiz(' + JSON.stringify( quiz ) + ');\'>EDIT</button>'
            + '<button class="btn btn-xs btn-danger" onClick=\'delQuiz(\"' + quiz._id + '\");\'>DELETE</button></td>'
            + '</tr>';
          $('#quiz_table_body').append( tr );
        });
      }
      /*
      var tr = '<tr>'
        + '<td><input type="text" class="form-control" id="edit_quiz_id" value=""/></td>'
        + '<td>'
        + '<select id="edit_quiz_category">'
        + '<option value="0">' + categories[0] + '</option>'
        //+ '<option value="1">' + categories[1] + '</option>'
        + '<option value="2">' + categories[2] + '</option>'
        + '<option value="3">' + categories[3] + '</option>'
        + '</select>'
        + '</td>'
        + '<td><input type="text" class="form-control" id="edit_quiz_point" value=""/></td>'
        + '<td><input type="text" class="form-control" id="edit_quiz_body" value=""/></td>'
        + '<td><input type="text" class="form-control" id="edit_quiz_comment" value=""/></td>'
        + '<td><input type="text" class="form-control" id="edit_quiz_img_url" value=""/></td>'
        + '<td> - </td>'
        + '<td><button class="btn btn-xs btn-success" onClick="saveQuiz();">Save</button></td>'
        + '</tr>';
      $('#quiz_table_body').append( tr );
      */
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function reloadQuizsets(){
  $('#quizset_table_body').html( '' );
  $.ajax({
    type: 'GET',
    url: '/dbapi/quizsets?user_id=' + uuid,
    success: function( result ){
      if( result && result.status ){
        result.quizsets.forEach( function( quizset ){
          var tr = '<tr>'
            + '<td><a target="_blank" href="/quizset?id=' + quizset._id + '">' + quizset._id + '</a></td>'
            + '<td>' + quizset.subject + '</td>'
            + '<td>' + quizset.quiz_ids + '</td>'
            + '<td>' + timestamp2datetime( quizset.updated ) + '</td>'
            + '<td><button class="btn btn-xs btn-success" onClick=\'editQuizset(' + JSON.stringify( quizset ) + ');\'>EDIT</button>'
            + '<button class="btn btn-xs btn-danger" onClick=\'delQuizset("' + quizset._id + '");\'>DELETE</button></td>'
            + '</tr>';
          $('#quizset_table_body').append( tr );
        });
      }
      /*
      var tr = '<tr>'
        + '<td><input type="text" class="form-control" id="edit_quizset_id" value=""/></td>'
        + '<td><input type="text" class="form-control" id="edit_quizset_subject" value=""/></td>'
        + '<td><input type="text" class="form-control" id="edit_quizset_ids" value="" placeholder=\'["xxx","yyy"]\'/></td>'
        + '<td> - </td>'
        + '<td><button class="btn btn-xs btn-success" onClick="saveQuizset();">Save</button></td>'
        + '</tr>';
      $('#quizset_table_body').append( tr );
      */
    },
    error: function( err ){
      console.log( err );
    }
  });
}

function saveQuiz(){
  var quiz_id = $('#edit_quiz_id').val();
  var data = {
    category: parseInt( $('#edit_quiz_category').val() ),
    point: parseInt( $('#edit_quiz_point').val() ),
    body: $('#edit_quiz_body').val(),
    comment: $('#edit_quiz_comment').val(),
    img_url: $('#edit_quiz_img_url').val(),
    user_id: uuid,
    user_name: ''
  };
  if( quiz_id ){
    $.ajax({
      type: 'PUT',
      url: '/dbapi/quiz/' + quiz_id,
      data: data,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizs();
      },
      error: function( e0, e1, e2 ){
      }
    });
  }else{
    $.ajax({
      type: 'POST',
      url: '/dbapi/quiz',
      data: data,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizs();
      },
      error: function( e0, e1, e2 ){
      }
    });
  }
}

function saveQuizset(){
  var quizset_id = $('#edit_quizset_id').val();
  var quiz_ids = $('#edit_quizset_ids').val();
  var data = {
    subject: $('#edit_quizset_subject').val(),
    quiz_ids: JSON.parse( quiz_ids ),
    user_id: uuid,
    user_name: ''
  };
  if( quizset_id ){
    $.ajax({
      type: 'PUT',
      url: '/dbapi/quizset/' + quizset_id,
      data: data,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizsets();
      },
      error: function( e0, e1, e2 ){
      }
    });
  }else{
    $.ajax({
      type: 'POST',
      url: '/dbapi/quizset',
      data: data,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizsets();
      },
      error: function( e0, e1, e2 ){
      }
    });
  }
}

function previewQuiz( quiz ){
  $('body').removeClass( 'modal-open' );
  $('.modal-backdrop').remove();

  $('#preview-main').html( '' );
  $('#preview-point').html( '' );

  var html = '<h2>' + quiz.body + '</h2>';
  if( quiz.img_url ){
    if( quiz.category != 2 ){
      html += '<div><img id="q_image" src="' + quiz.img_url + '" width="100%" style="display: none;"/></div>';
    }else{
      html += '<div><table id="open16_table" class="table" style="background-image: url(\'' + quiz.img_url + '\');"></table></div>';
    }
  }

  /*
  switch( result.body.category ){
  case 0:
    //. 一般クイズ
    break;
  case 1:
    //. フリーテキスト出題
    break;
  case 2:
    //. 16分割クイズ
    break;
  case 3:
    //. ぼかしクイズ
    html += '<br/>'
      + '<input id="rng" type="range" value="9" min="0" max="9" step="1" onInput="changeBlur();"/> <span id="range_value">10</span>';
    break;
  }
  */

  $('#preview-main').html( html );

  if( quiz.category == 2 ){
    image_16_open = 0;
    for( var i = 0; i < 4; i ++ ){
      var tr = '<tr id="board_row_' + i + '">';
      for( var j = 0; j < 4; j ++ ){
        var num = ( i * 4 + j + 1 );
        var td = '';
        if( i % 2 ){
          td = '<td id="panel_' + num + '" class="num_panel">' + num + '</td>';
        }else{
          td = '<td id="panel_' + num + '" class="">' + num + '</td>';
        }
        tr += td;
      }
      tr += '</tr>';
      $('#open16_table').append( tr );
    }
    $('#preview-point').html( '9' );
  }else if( quiz.category == 3 ){
    image_blur = 10;
    $('#preview-point').html( image_blur );
  }else if( quiz.category == 0 ){
    $('#q_image').css( 'display', 'block' );
    $('#preview-point').html( quiz.point );
  }
  
  $('#previewModal').modal();
}

function editQuiz( quiz ){
  if( quiz._id ){
    $('#edit_quiz_id').val( quiz._id );
  }else{
    $('#edit_quiz_id').val( '' );
  }
  $('#edit_quiz_category').val( quiz.category );
  $('#edit_quiz_point').val( quiz.point );
  $('#edit_quiz_body').val( quiz.body );
  $('#edit_quiz_comment').val( quiz.comment );
  $('#edit_quiz_img_url').val( quiz.img_url );
}

function editQuizset( quizset ){
  if( quizset._id ){
    $('#edit_quizset_id').val( quizset._id );
  }else{
    $('#edit_quizset_id').val( '' );
  }
  $('#edit_quizset_subject').val( quizset.subject );
  $('#edit_quizset_ids').val( JSON.stringify( quizset.quiz_ids ) );
}

function delQuiz( id ){
  if( confirm( id + ' のクイズを削除します。よろしいですか？' ) ){
    $.ajax({
      type: 'DELETE',
      url: '/dbapi/quiz/' + id,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizs();
      },
      error: function( err ){
        console.log( err );
      },
    });
  }
}

function delQuizset( id ){
  if( confirm( id + ' のクイズセットを削除します。よろしいですか？' ) ){
    $.ajax({
      type: 'DELETE',
      url: '/dbapi/quizset/' + id,
      success: function( result ){
        //location.href = '/admin';
        reloadQuizsets();
      },
      error: function( err ){
        console.log( err );
      },
    });
  }
}
</script>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
#open16_table{
  background-repeat: no-repeat;
  background-size: 100% 100%
}
.num_panel{
  width: 15%;
  height: 100px;
  color: #fff;
  background-color: #006;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  opacity: 1;
}
#point{
  color: #f00;
  font-size: 40px;
}
.list-table{
  font-size: 12px;
}
</style>
</head>
<body>

<div class="container_ p-3" id="admin_body">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="#tab-pane-quizset" data-toggle="tab" class="nav-link">クイズセット</a></li>
    <li class="nav-item"><a href="#tab-pane-quiz" data-toggle="tab" class="nav-link active">クイズ</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab-pane-quizset" class="tab-pane">
      <table class="table table-bordered">
        <thead id="quizset_table_heat">
          <tr><th>#</th><th>subject</th><th>ids</th><th>updated</th><th>actions</th></tr>
        </thead>
        <tbody id="quizset_table_body">
        </tbody>
      </table>

      <div class="container">
      <table class="table table-bordered list-table">
        <tr>
          <td>ID</td>
          <td><input type="text" class="form-control" id="edit_quizset_id" value="" readonly="readonly"/></td>
        </tr>
        <tr>
          <td>subject</td>
          <td><input type="text" class="form-control" id="edit_quizset_subject" value=""/></td>
        </tr>
        <tr>
          <td>quiz ids</td>
          <td>
            <!--
            <input type="text" class="form-control" id="edit_quizset_ids" value="" placeholder='["xxx","yyy"]'/>
            -->
            <textarea class="form-control" id="edit_quizset_ids" placeholder='["xxx","yyy"]'></textarea>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button class="btn btn-success" onClick="saveQuizset();">Save</button></td>
        </tr>
      </table>
      </div>
    </div>
    <div id="tab-pane-quiz" class="tab-pane active">
      <table class="table table-bordered list-table">
        <thead id="quiz_table_heat">
          <tr><th>#</th><th>category</th><th>point</th><th>body</th><th>comment</th><th>image_url</th><th>updated</th><th>actions</th></tr>
        </thead>
        <tbody id="quiz_table_body">
        </tbody>
      </table>

      <div class="container">
      <table class="table table-bordered">
        <tr>
          <td>ID</td>
          <td><input type="text" class="form-control" id="edit_quiz_id" value="" readonly="readonly"/></td>
        </tr>
        <tr>
          <td>category</td>
          <td>
          <select id="edit_quiz_category">
          <option value="0">一般クイズ</option>
          <option value="1">フリーテキスト</option>
          <option value="2">16分割</option>
          <option value="3">ぼかし</option>
          </select>
          </td>
        </tr>
        <tr>
          <td>point</td>
          <td><input type="text" class="form-control" id="edit_quiz_point" value=""/></td>
        </tr>
        <tr>
          <td>body</td>
          <td><input type="text" class="form-control" id="edit_quiz_body" value=""/></td>
        </tr>
        <tr>
          <td>comment</td>
          <td><input type="text" class="form-control" id="edit_quiz_comment" value=""/></td>
        </tr>
        <tr>
          <td>img_url</td>
          <td><input type="text" class="form-control" id="edit_quiz_img_url" value=""/></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><button class="btn btn-success" onClick="saveQuiz();">Save</button></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="modal bd-example-modal-lg fade" id="previewModal" tabindex="-1" role="dialog" aria-labbelledby="previewModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="previewModalLabel"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="previewmodal-body">
        <div id="preview-main" class="container">
        </div>

        <div id="preview-point" class="container">
        </div>
      </div>
      <div class="modal-footer btn-center">
        <!--
        <button type="button" class="btn btn-info btn-xs py-0" onClick="migrateFrom();"><i class="fas fa-file-export"></i></button>
        -->
      </div>
    </div>
  </div>
</div>

</body>
</html>
